@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Roboto&display=swap');

:root{
    --strong-color: #831843;
    --light-color: #fbf2f7;
    --lighter-color: #fefafa;
    --grey: rgb(196, 182, 182);
    --dark-grey: rgb(152, 138, 138);
    --rose: #9f1239;
    --border: #500724;
    --read: #5bb47b;
    --not-read: #db4343;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--light-color);
    font-family: 'Roboto', sans-serif;
}

hr{
    border: none;
    height: 0.1rem;
    background-color: var(--strong-color);
}

header{
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-color: var(--strong-color);
    border-bottom: 0.2rem var(--border) solid;
}

main{
    padding: 3rem;
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 5rem;
}

form{
    background-color: var(--light-color);
    display: flex;
    color: var(--border);
    flex-direction: column;
    gap: 2rem;
}

input{
    border: 1px solid var(--border);
    border-radius: 0.2rem;
}

.sec1{
    display: flex;
    gap: 1rem;
}

.inputs{
    display: flex;
    flex-direction: column;
}

.sec2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* input[type="checkbox"]::before {
    width: 16px;
    height: 16px;
    border-radius: 9px;
    background-color: var(--border);
    content: '';
    position: absolute;
    top: 7px;
    left: 16%;
    transition: all 0.4s;
  }

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 44px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid var(--border);
    background: #eee;
    transition: all 0.4s;
} */

#add-book{
    padding: 0.1rem 1rem;
    background-color: var(--lighter-color);
    border: 2px solid var(--border);
    border-radius: 0.2rem;
    color: var(--border);
    align-self: flex-start;
    /* font-size: 1.2rem; */
    /* font-weight: bold; */
}

#add-book:hover,#add-book:active{
    cursor: pointer;
    color: white;
}

#add-book:hover{
    background-color: var(--grey);
}
#add-book:active{
    background-color: var(--dark-grey);
}


.books{
    
}

.book-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem,1fr));
    gap: 1rem;
    width: 80vw;
}

.book{
    background-color: var(--lighter-color);
    padding: 1rem;
    padding-right: 3.5rem;
    line-height: 2rem;
    border: 2px solid var(--strong-color);
    border-radius: 0.6rem;
    position: relative;
    font-size: 1.01rem;
}

.book-card-buttons{
    display: flex;
    gap: 0.3rem;
}

.change-read-status, 
.delet-button{
    background-color: var(--strong-color);
    color: white;
    border: none;
    border-radius: 0.6rem;
    margin-top: 1rem;
    padding: 0.3rem;
}

.reading-status{
    position: absolute;
    right: 10px;
    top: 6px;
    color: white;
    /* background-color: var(--read); */
    padding: 0.01rem 0.3rem;
    border-radius: 0.2rem;
}

.read{
   background-color: var(--read); 
}

.not-read{
    background-color: var(--not-read); 
}

#temp-qoute{
    /* visibility: hidden; */
    margin-top: 5rem;
    text-align: center;
    font-family: 'Lugrasimo', cursive;
    color: var(--border);
}

.qoute-credit{
    display: block;
    margin-left: 17rem;
    margin-top: 1rem;
}